# exportPattern("^[[:alpha:]]+")
export(markerIndex, print.markerindex, reliabilityAll, scaleScores, corstarsl, pcorstarsl)
importFrom("stats", "loadings")
importFrom("psych", "fa", "principal", "alpha", "corr.p")
importFrom("dplyr", "select", "arrange", "rename")
importFrom("MBESS", "ci.reliability")
importFrom("stringr", "str_detect", "str_replace")
importFrom("lavaan", "lavaan")
importFrom("Hmisc", "rcorr")
S3method(print, markerindex)

