# exportPattern("^[[:alpha:]]+")
export(markerIndex, print.markerindex)
importFrom("stats", "loadings")
importFrom("psych", "fa", "principal")
importFrom("dplyr", "select", "arrange", "rename")
S3method(print, markerindex)

